.logo-titolo{
    width: 30%;
}

.stile-det{
    font-style: italic;
    font-weight: bold
}

.dettaglioEvento{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(222, 226, 230);
}

.dettaglioEventoLuogo{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

#map{
    height: 10rem;
    border-radius: 4px;
}

.btnpreno{
    background-color: #a9a066;
    border-radius: 0;
    border-color: #a9a066;
    color: #e1e1e1;
  }
  
  .btnpreno:hover{
    border: 1px solid #903838;
    background-color: #903838;
    color: white;
  }